li, p {
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'georgia';
    background-color: #EEE;
  }
  
  main {
    display: flex;
    flex-direction: row;
    flex: auto;
  }
  
  article {
    flex: 2;
    overflow-y: auto;
  }
  
  aside {
    flex: 1;
    overflow-y: auto;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  
    